# Environment
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda
.conda/

# Database
*.db
*.sqlite3

# Alembic
alembic/versions/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/
